<main>

    <h2>Brand Guide</h2>
       
    
      <figure style="text-align: center;">
            <img src = "images/intro.png" alt = "Me"  height = "370" width = "327" />   
           <figcaption>Figcaption Style</figcaption>
      </figure>
    
    
        <p class="first"> 
            Welcome to Sydney's Pen Guide! This site is about all of my favorite kinds <br>
        of pens and the ones that I would recommend to others. I made this brand<br>
        because I really enjoy writing notes and having a nice quality pen makes a <br>
       huge difference.<br>
        </p>



        <ul>
                <li>Default html styling:</li>

                <li>Font-Family:Verdana, sans-serif;</li>

                <li>font-size: 20px;</li>

                <li>background-color: rgba(136, 20, 65, 0.466)<li>

                <li style="background-color: beige; color:rgba(136, 20, 65, 0.466);">COLOR SAMPLE</li>
        </ul>

        <ul>
            
            <li>Heading Styles:</li>

            <li>All are centered</li>

            <h1>Heading 1</h1>

               <li>Color: #3b0606c5</li>

            </li>

            <h2>Heading 2</h2>

                    <li>Font Size: 25px</li>

                    <li>Color: rgba(73, 5, 36, 0.747)</li>

         

           <h3>Heading 3</h3>

                    <li>Font Size: 25px and Font Style: Italic</li>

                    <li>Color: rgba(65, 41, 43, 0.651)</li> 
        
            <h4>Heading 4</h4>

                    <li>Font Size: 25px and Font Style: Italic</li>

                    <li>Color: rgba(158, 32, 137, 0.315)</li> 
         
        </ul>

<ul>

    <li>Body</li>
    <li>color: rgba(11, 1, 17, 0.705)</li>
    <li style="color: rgba(11, 1, 17, 0.705);">COLOR SAMPLE</li>

    
</ul>
    <ul>
        <li>
            Unordered list with link formatting:     
        
            
                <li> Here is an example!</li>
            
                <li><a href="https://smoncur0.github.io/web215/introduction.html" style="color: rgba(20, 80, 28, 0.945);">Link</a> For links within list.</li>

                <li> Text Color for links within lists: rgba(20, 80, 28, 0.945)</li>

        </li>
    </ul>
    
    <ul>
       <li>Formatting for header links and footer links

                <li>Background-color: rgba(112, 16, 69, 0.322)</li>

                <li>Text Color: rgba(12, 37, 21, 0.932)</li>

                <li><p id="links"><a href="https://smoncur0.github.io/web215/introduction.html">SAMPLE</a></p></li>

      </li> 

        <li>Text color for Footer text with no link: rgba(105, 9, 41, 0.733)

               <li style="color:rgba(105, 9, 41, 0.733);">COLOR SAMPLE</li>

       </li>

    </ul>


    </main>
