@charset "utf-8";

html {
   font-size: 100%;
   font-family:   Verdana, sans-serif;
   background-color: rgba(136, 20, 65, 0.466);
   font-size: 20px;
   margin: 25px;

}

 body { 
	margin: 25px;
	font-size: 16px;
	line-height: 1.5em;
	color: rgba(104, 50, 95);
}

 h1 {
	text-align: center;      
   color: rgba(59, 23, 47, 0.699);
	font-family: 'Cookie';
   font-size: 60px;
	
}
 h2 {
    text-align: center;
    font-size: 20px;
    color: rgba(59, 23, 47, 0.699);
    font-family: Verdana;
    
}
 h3 {
    text-align: center;
    font-size: 30px;
    color:rgba(109, 16, 59, 0.534);
    font-style: italic;
    font-family: sans-serif;
  
}
 h4 {
    text-align: center;
    font-size: 1.2em;
    line-height: 1.5em;
    color: rgba(121, 14, 85, 0.884);
    font-size: 25px;
    font-style: italic;
    font-family: sans-serif;
}
header > nav > ul > li > a {
   background-color: rgba(182, 144, 119, 0.89);
   color: rgba(59, 23, 47, 0.699);

}
header > nav > ul > li > a:hover{
   color: rgba(196, 102, 58, 0.336);
}
p.first{
   font-size: 20px;
   text-align: center;
}
p {
  font-size: 20px;
}
 footer {
    text-align: center;
    color: rgba(109, 16, 59, 0.534);
 
}
p#tagline{
   font-style: italic;
	
}

a{
text-decoration: none;

}

p > a{
font-family:  Verdana; 
color: rgba(117, 26, 81, 0.945); 
text-decoration: none;

}

form#introduction_form > textarea{
   font-size: 15px;
   font-family: verdana;
 }


ul > li > a{
   font-family:  Verdana; 
   color: rgba(20, 80, 28, 0.945);  
}
ul > li > a:hover{
   
   color: rgba(196, 102, 58, 0.336);  
}

p#links {
   color:rgba(84, 72, 85, 0.932);
	text-align: center;

}
p#links > a:hover{
   
   color: rgba(241, 219, 204, 0.863);
}

 p#footer_links{
   color:rgba(84, 72, 85, 0.932);
   text-align: center;

}
 p#footer_links > a:hover{

   color: rgba(241, 219, 204, 0.863);
}
figcaption{
	font-style: italic;
}
p#validation > a{

  background-color:rgba(59, 23, 47, 0.699);

  color:  rgba(241, 219, 204, 0.863);

}
p#validation > a:hover{

   color:rgba(59, 23, 47, 0.699);
 
   background-color:  rgba(241, 219, 204, 0.863);
 
 }
